.input-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #333;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 80vw;
    height: 10vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.input-field {
    flex-grow: 1;
    background-color: #333;
    border: none;
    color: lightgray;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
}

.input-field::placeholder {
    color: #aaa;
}

.input-field:focus {
    outline: none;
}

.mic-icon,
.send-icon {
    color: lightgray;
    cursor: pointer;
    margin: 0 10px;
}

.send-icon {
    margin-left: auto; /* ensures it stays to the far right */
}
